#header {
    .header-container {
        background-color: rgb(49, 48, 48);
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    h1 {
        color: white;
    }

    .plus-icon {
        margin-left: 80px;
    }
    
}
