#header {
    margin-left: 100px;
    position: fixed;
    top: 10px;
    left: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    height: 125px;
}

.header-container {
    background-color: #424040;
    display: flex;
    align-items: center;
    width: 430px;
    height: 100%;
    border-radius: 0px;
}

h1 {
    color: white;
}

.logo {
    width: 70px;
    height: auto;
}

.plus-icon {
    color: #54d94d;
    margin-left: 60px;
    padding-right: 10px;
}


