#messagebody {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    margin-bottom: 10px;
    width: auto;
    overflow-y: auto;
}

.search-container {
    margin-top: 10px;
    position: fixed;
    padding: 10px;
    width: 430px;
    background-color: #424040;
    z-index: 1;
    box-sizing: border-box;
    border-radius: 0px;
}

.search-bar {
    background-color: #292929;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #424040;
    display: flex;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}

.messagebody-container {
    margin-top: 80px;
    background-color: #424040;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    overflow-y: auto;
    border-radius: 0px;
}

.messagebody-container::-webkit-scrollbar {
    width: 10px;
}

.messagebody-container::-webkit-scrollbar-thumb {
    background: #7a7a7a;
    border-radius: 0px;
}

.messagebody-container::-webkit-scrollbar-thumb:hover {
    background: #919090;
    border-radius: 0px;
}


.messagebody-container::-webkit-scrollbar-track {
    background: transparent;
}


.direct-message {
    background-color: #424040;
    border-radius: 10px;
    padding: 30px;
    margin: 5px;
    word-wrap: break-word;
    color: white;
}

.direct-message:hover {
    background-color: #5f5b5b;
}
